@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: Oswald, sans-serif;
  -webkit-font-smoothing: antialiased;
}
/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
new

*/
.fontcss {
  font-family: sans-serif;
}

.container a:hover,
.dropdown:hover .dropbtn {
  /* background-color: rgb(254, 254, 254); */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.img::after {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.5) 50%,
    #000 100%
  );
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}

.newimg {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 16%,
    rgba(0, 0, 7, 0.9420810560552346) 100%
  );
}
